<ion-header >
  <ion-toolbar id="toolbarHeader">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Cadastro de Ordens</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form (ngSubmit)="cadastrarLote()">
    <ion-item>
      <ion-label position="floating">Ordem De Montagem</ion-label>
      <ion-input type="number" [(ngModel)]="lote.om" name="om" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Ordem De Venda</ion-label>
      <ion-input type="number" [(ngModel)]="lote.ov" name="ov" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Cliente</ion-label>
      <ion-input type="text" [(ngModel)]="lote.cliente" name="cliente" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Item</ion-label>
      <ion-input type="number" [(ngModel)]="lote.item" name="item" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Equipamento</ion-label>
      <ion-input type="text" [(ngModel)]="lote.equipamento" name="equipamento" required></ion-input>
    </ion-item>

     <ion-item>
      <ion-label position="floating">Quantidade total</ion-label>
      <ion-input type="number" [(ngModel)]="lote.quantiTotal" name="quantiTotal" required></ion-input>
    </ion-item>

     <ion-item>
      <ion-label position="floating">Quantidade reprovado</ion-label>
      <ion-input type="number" [(ngModel)]="lote.reprovado" name="reprovado" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Local</ion-label>
      <ion-input type="text" [(ngModel)]="lote.local" name="local" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Defeito</ion-label>
      <ion-input type="text" [(ngModel)]="lote.defeito" name="defeito" required></ion-input>
    </ion-item>

    <ion-button (click)="cadastrarLote()">Cadastrar Lote</ion-button>
    
  </form>

  <ion-button (click)="tirarFoto()">Tirar Foto</ion-button>


</ion-content>
