<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Pesquisa de Lotes</ion-title>
  </ion-toolbar>

  <ion-toolbar>
    <div class="filtros-toolbar">
      <ion-searchbar [(ngModel)]="inputPesquisa" id="inputPesquisa" placeholder="Pesquisar" show-clear-button="always"></ion-searchbar>

      <ion-item class="select" lines="none">
        <ion-select [(ngModel)]="tipoPesquisa" placeholder="Tipo" class="select-personalizado">
          <ion-select-option value="om">OM</ion-select-option>
          <ion-select-option value="cliente">Cliente</ion-select-option>
        </ion-select>
      </ion-item>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content id="todosLotes" class="ion-padding">
  <ion-list *ngIf="lotes.length > 0; else vazio">
    <ion-item *ngFor="let lote of lotes">
      <ion-label>
        <h2>{{ lote.ordem_montagem }} - {{ lote.equipamento }}</h2>
        <p>Cliente: {{ lote.cliente }}</p>
        <p>OV: {{ lote.ordem_venda }} | Item: {{ lote.item_venda }}</p>
        <p>Recebido: {{ lote.quantidade_recebida }} / {{ lote.quantidade_total }}</p>
        <p>Data: {{ lote.data_recebimento | date:'short' }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ng-template #vazio>
    <ion-text color="medium">
      <p class="ion-text-center">Nenhum lote cadastrado ainda.</p>
    </ion-text>
  </ng-template>
</ion-content>


